@keyframes scan {
  0% {
    top: 0;
  }
  50% {
    top: 100%;
  }
  50.1% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

.animate-scan {
  animation: scan 4s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}

/* Stylized gauge glow effect */
.gauge-glow::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  background: inherit;
  filter: blur(3px);
}